# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://cocozqaswhyugfbilbxk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_5d_OPhpNmxst0GaTEAO6vw_F1qkyAhj

# 0G Compute (future)
NEXT_PUBLIC_0G_ENDPOINT=https://rpc-testnet.0g.ai

OG_API_KEY=
